/.DS_Store
/audi.webp
/bmw.webp
/bugatti.webp
/car.jpg
/chevrolet.webp
/dodge.webp
/ferarri.webp
/ford.webp
/home.html
/honda.webp
/hyundai.webp
/jeep.webp
/kia.webp
/lambo.webp
/land.webp
/lexus.webp
/lotus.webp
/merc.webp
/node_modules
/package-lock.json
/package.json
/porsche.webp
/search.png
/search.svg
/style.css
/subaru.webp
/tesla.webp
/test.py
/testing.js
/toyota.webp
/untitled folder
/untitled folder.zip
/user.jpeg
/volks.webp